# Пример .env файла для настройки бота
# Переименуйте в .env если будете использовать

# Токен API бота (можно взять тут: https://t.me/BotFather)
BOT_API_TOKEN=your_bot_api_token

# Тестовый токен Telegram Bot API (можно взять тут: https://t.me/BotFather (учтите, что оно нужно только при использовании тестового сервера))
TEST_BOT_API_TOKEN=your_test_bot_api_token

# ID владельца (можно взять тут: https://t.me/getmyid_bot)
OWNER_ID=your_owner_id

# Ваши API_ID и API_HASH (можно взять тут: https://my.telegram.org/apps)
API_ID=your_api_id
API_HASH=your_api_hash

# Ваши url для апи нейросетей
OPENAI_SDK_API_URL=http://api.onlysq.ru/ai/openai
IMAGEN_API_URL=https://api.onlysq.ru/ai/imagen

# Апи ключ для onlysq (можно взять тут: https://my.onlysq.ru)
ONLYSQ_API_KEY=openai

# Тир вашего аккаунта onlysq
ONLYSQ_TIER=0

# Текстовая модель по умолчанию (должна быть в ONLYSQ_ALLOWED_FREE_MODELS)
DEFAULT_OSQ_MODEL=gpt-5-mini

# Разрешённые модели onlysq (см список тут: https://api.onlysq.ru/ai/models). Разделяйте модели через запятые
ONLYSQ_ALLOWED_FREE_MODELS=claude-haiku-4-5,deepseek-r1,deepseek-v3,flux,gemini-3-flash,gpt-3.5-turbo,gpt-4,gpt-4-turbo,gpt-4.1,gpt-4.1-mini,gpt-4.1-nano,gpt-4o,gpt-4o-mini,gpt-5-mini,gpt-5-nano,gpt-oss-20b,grok-4-1-fast,llama3.1-8b,mistral-small-3.1,pplx-gpt-5.1,pplx-gemini-3-flash,pplx-gpt-5-mini,sonar,sonar-pro
ONLYSQ_ALLOWED_PREMIUM_MODELS=claude-sonnet-4-5,claude-sonnet-4-6,deepseek-v4-flash,glm-4.7-flash,gpt-5,gpt-5.1,gpt-5.1-chat,gpt-5.2,gpt-5.2-chat,gpt-5.4,gpt-oss-120b,grok-4.20,grok-4.3,pplx-gpt-5.2,pplx-grok-4-20,pplx-grok-4-3,sonar-deep-research,sonar-reasoning-pro

# Апи ключ для jigsaw нейросетей (можно взять тут: https://jigsawstack.com/dashboard/)
JIGSAW_API_KEY=your_api_key

# Апи ключ для https://www.weatherapi.com
WEATHER_API_KEY=your_api_key

# Включает работу бота ТОЛЬКО в одном/нескольких чатах указанных ниже (подробнее: https://Not-a-dude.github.io/Komaru-FunBox/docs/setup/selfhost#1%EF%B8%8F%E2%83%A3-%D0%BE%D0%B3%D1%80%D0%B0%D0%BD%D0%B8%D1%87%D0%B5%D0%BD%D0%B8%D0%B5-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B-%D0%B2-%D0%B2%D1%8B%D0%B1%D1%80%D0%B0%D0%BD%D0%BD%D1%8B%D1%85-%D1%87%D0%B0%D1%82%D0%B0%D1%85)
SPECIFIC_CHAT=false
SPECIFIC_CHATS_ID=123456789,987654321

# Docker-специфичные переменные
# Включить автоматическое обновление при запуске контейнера
AUTO_UPDATE=false

# Имя Docker контейнера
DOCKER_CONTAINER=komaru-funbox-bot-1
REDIS_PORT=6379

# Бд, не трогайте это
DB_NAME=funbox_db
DB_USER=komaru
DB_PASSWORD=your_secure_password
DB_HOST=db
DB_PORT=5432