[Unit]
Description=Komaru FunBox bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/panchan/Komaru-FunBox
EnvironmentFile=/home/panchan/Komaru-FunBox/.env
ExecStartPre=/usr/bin/git -C /home/panchan/Komaru-FunBox pull
ExecStart=/home/panchan/Komaru-FunBox/venv/bin/python -m bot
KillMode=process
Restart=always
RestartSec=10
User=panchan

[Install]
WantedBy=multi-user.target